In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
X = []
import numpy as np

In [ ]:
for line in open(r"C:\Users\batman-101\Desktop\code-works\machine_learning_examples-master\linear_regression_class\data_2d.csv"):
    row = line.split(",")
    sample = list(map(float, row))
    X.append(sample)

In [ ]:
X

In [ ]:
clear

In [ ]:
X

In [ ]:
X = pd.read_csv(r'C:\Users\batman-101\Desktop\code-works\machine_learning_examples-master\linear_regression_class\data_2d.csv', header=None)

In [ ]:
X.info()

In [ ]:
X.head();
X.head(10)

In [ ]:
# X[0,0 ] Error
M = X.as_matrix()
type(M)

In [ ]:
X[0]

In [ ]:
type(X[0])

In [ ]:
# 2-d Dataframe 1-d Series

In [ ]:
# getting 0th row
X.iloc[0]

In [ ]:
X.ix[0]

In [ ]:
X.loc[0]

In [ ]:
X[[0,2]] # selecting two columns

In [ ]:
X[X[0] < 5]

In [ ]:
df = pd.read_csv(r'C:\Users\batman-101\Desktop\code-works\machine_learning_examples-master\airline\international-airline-passengers.csv', engine="python", skipfooter=3)

In [ ]:
df.columns

In [ ]:
df.columns = ["Month", "Passengers"]

In [ ]:
df.columns

In [ ]:
df.Passengers # df["Passengers"]

In [ ]:
df["ones"] = 1

In [ ]:
df.head()

In [ ]:
from datetime import datetime

In [ ]:
datetime.strptime("1949-01", "%Y-%m")

In [ ]:
df["dt"] = df.apply(lambda row: datetime.strptime(row['Month'], "%Y-%m"), axis=1)

In [ ]:
df.info()

In [ ]:
# fROM top 5 machine learning libraries
import pandas as pd

In [ ]:
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')

In [ ]:
ufo.head()

In [ ]:
ufo["Location"] = ufo.City + ", " + ufo.State

In [ ]:
ufo.head()

In [ ]:
ufo.shape

In [ ]:
ufo.info()

In [ ]:
ufo.head()

In [ ]:
ufo.drop("Colors Reported", axis=1, inplace=True)
# ufo.drop(["States", "Time"], axis=1, inplace=True)

In [ ]:
ufo.State.sort_values(ascending=False).head(10)

In [39]:
ufo.sort_values("City").head()

            City Shape Reported State              Time       Location
1761   Abbeville           DISK    SC   12/10/1968 0:30  Abbeville, SC
4553    Aberdeen       CYLINDER    WA   6/15/1981 22:00   Aberdeen, WA
16167   Aberdeen        VARIOUS    OH    3/29/2000 3:00   Aberdeen, OH
14703   Aberdeen       TRIANGLE    WA   9/30/1999 21:00   Aberdeen, WA
389     Aberdeen         CIRCLE    SD  11/15/1956 18:30   Aberdeen, SD

In [40]:
ufo.sort_values(["City", "State"]).head(10)

            City Shape Reported State              Time       Location
1761   Abbeville           DISK    SC   12/10/1968 0:30  Abbeville, SC
2297    Aberdeen       TRIANGLE    MD    8/18/1972 1:30   Aberdeen, MD
9404    Aberdeen           DISK    MD   6/15/1996 13:30   Aberdeen, MD
16167   Aberdeen        VARIOUS    OH    3/29/2000 3:00   Aberdeen, OH
389     Aberdeen         CIRCLE    SD  11/15/1956 18:30   Aberdeen, SD
4553    Aberdeen       CYLINDER    WA   6/15/1981 22:00   Aberdeen, WA
12294   Aberdeen       FIREBALL    WA    10/4/1998 4:42   Aberdeen, WA
14703   Aberdeen       TRIANGLE    WA   9/30/1999 21:00   Aberdeen, WA
17809   Aberdeen       FIREBALL    WA  10/29/2000 17:25   Aberdeen, WA
3        Abilene           DISK    KS    6/1/1931 13:00    Abilene, KS

In [41]:
ufo.describe()

           City Shape Reported  State              Time     Location
count     18216          15597  18241             18241        18216
unique     6476             27     52             16145         8029
top     Seattle          LIGHT     CA  11/16/1999 19:00  Seattle, WA
freq        187           2803   2529                27          187